<div class="card space-y-3">

    <div class="text-center space-y-3 my-4">
      <h2 class="text-xl md:text-3xl font-bold text-gray-900">Your To-dos</h2>
    </div>

    <div>
      <app-new-todo-input></app-new-todo-input>
    </div>
    <div>
      <div class="flex justify-center border-gray-100 my-6 space-x-4">
        <button (click)="setFilter('all')" 
          [class.text-white]="filterMode() === 'all'"
          [class.border-blue-500]="filterMode() === 'all'"
          [class.bg-gray-400]="filterMode() === 'all'"
          class="py-2 px-5 font-semibold border-b-2 border-transparent transition rounded-full cursor-pointer text-sm hover:bg-gray-100">
          All
        </button>
        <button (click)="setFilter('active')" 
          [class.text-white]="filterMode() === 'active'"
          [class.border-blue-500]="filterMode() === 'active'"
          [class.bg-gray-400]="filterMode() === 'active'"
          class="py-2 px-5 font-semibold border-b-2 border-transparent transition cursor-pointer rounded-full text-sm hover:hover:bg-gray-100">
          In Progress
        </button>
        <button (click)="setFilter('completed')" 
          [class.text-white]="filterMode() === 'completed'"
          [class.border-blue-500]="filterMode() === 'completed'"
          [class.bg-gray-400]="filterMode() === 'completed'"
          class="py-2 px-5 font-semibold border-b-2 border-transparent transition cursor-pointer rounded-full text-sm hover:hover:bg-gray-100">
          Completed
        </button>
      </div>
      <ul class="space-y-3 pt-2">
          @if (filteredTodos().length === 0) {
            <li class="text-center p-4 rounded-xl shadow-sm">
            @switch (filterMode()) {
              @case ("all") {
                You have no tasks.
              }
              @case ("active") {
                You have completed all your tasks!
              }
              @case ("completed") {
                You have no tasks completed. 
              }
            }
            </li>
           
          }

          @for (todo of filteredTodos(); track todo.id) {
            <li class="flex items-center p-4 rounded-xl shadow-sm">

              <input
                type="checkbox"
                class="w-5 h-5 text-indigo-600 bg-gray-100 border-gray-300 rounded-md focus:ring-indigo-500 cursor-pointer"
                [checked]="todo.completed"
                (change)="toggleCompleted(todo.id, todo.completed)"
              />

              <div class="flex-grow ml-4">
                <span class="text-lg font-medium"
                      [class.line-through]="todo.completed"
                      [class.text-gray-400]="todo.completed"
                      [class.text-gray-800]="!todo.completed">
                  {{ todo.title }}
                </span>
                <p class="text-xs text-gray-400 mt-0.5">
                  Created: {{ todo.createdAt | date: 'shortDate' }}
                </p>
              </div>
              <button
                class="ml-4 p-2 text-gray-400 hover:text-red-500 rounded-full transition duration-150 cursor-pointer"
                aria-label="Delete task"
                (click)="deleteTodo(todo.id)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
              </button>
            </li>
          }
    </ul>
    </div>
</div>
