.container{
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 1320px;
}

@media screen and (max-width: 600px) {
  .container{
        width: 100vw;
        padding-right: .25rem;
        padding-left: .25rem;
  }
}
